@model List<Website_BanDienThoai_Version1.Models.Products>

<br/>
<br/>
<div class="header_slide">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="width:inherit;height:inherit;padding:0">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="~/images/slide/sale-1067126_1920.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <a class="btn btn-danger" style="background-color:orangered" asp-controller="Laptop" asp-action="Index">MUA NGAY</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="content_top">
    <div class="heading">
        <h3>Sản phẩm mới</h3>
    </div>
    <div class="see">
        <p><a href="#">Xem tất cả sản phẩm</a></p>
    </div>
    <div class="clear"></div>
</div>
<div class="main">
    <div class="row">
        @foreach (var product in Model)
        {
            @if (product.SpecialTag.Name == "Mới ra")
            {
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">
                                <label style="font-size:18px;color:steelblue;">@product.Name</label>
                            </h4>

                        </div>
                        <img class="card-img-top" style="height:100%;" src="@product.Image" alt="Card Image" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <label style="font-size:20px;color:#a51313;">Giá:&nbsp;<b>@product.Price<sup>đ</sup></b></label>

                                </div>
                                <div class="add-cart">
                                    <a asp-action="Details" asp-controller="Home" class="button" asp-route-id="@product.Id">
                                        View Details
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>
<br />


<div class="content_top">
    <div class="heading">
        <h3>Sản phẩm đặc biệt</h3>
    </div>
    <div class="see">
        <p><a href="#">Xem tất cả sản phẩm</a></p>
    </div>
    <div class="clear"></div>
</div>

<div class="main">
    <div class="row">
        @foreach (var product in Model)
        {
            @if (product.SpecialTag.Name == "Đặc biệt")
            {
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">
                                <label style="font-size:18px;color:steelblue;">@product.Name</label>
                            </h4>

                        </div>
                        <img class="card-img-top" style="height:100%;" src="@product.Image" alt="Card Image" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <label style="font-size:20px;color:#a51313;">Giá:&nbsp;<b>@product.Price<sup>đ</sup></b></label>

                                </div>
                                <div class="add-cart">
                                    <a asp-action="Details" asp-controller="Home" class="button" asp-route-id="@product.Id">
                                        View Details
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>