@model IEnumerable<Website_BanDienThoai_Version1.Models.Products>
@{
    ViewData["Title"] = "Index";

}
<br />
<br />
<div class="row">
    <div class="col-6 " style="padding-left:40px;font-size:30px; text-align:center;">

        <p class="text-info"> Product List</p>
    </div>

    <div class="col-6 text-right" style="padding-right:20px;">
        <a asp-action="Create" class="btn btn-info">New Product</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped boder" style="font-size:14px;">
        <tr class="table-info text-bold">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Memory)
            </th>
            <td>
                @Html.DisplayNameFor(m => m.Quantity)
            </td>
            <th>
                @Html.DisplayNameFor(m => m.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Color)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Category)
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Memory)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Category.Name)
                </td>
                <td style="width:150px">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id"><i class="fas fa-list-alt"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>

        }
    </table>
</div>