
@model IEnumerable<Website_BanDienThoai_Version1.Models.Contact>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6 " style="padding-left:40px;font-size:30px;text-align:center;">

        <p class="text-info"> Liên hệ từ khách hàng</p>
    </div>
</div>
<br />
<div style="font-size:14px;">
    <table class="table table-striped boder">
        <tr class="table-info text-bold">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Opinion)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ContactDate)
            </th>

        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(m => item.Name)
        </td>
        <td>
            @Html.DisplayFor(m => item.Email)
        </td>
        <td>
            @Html.DisplayFor(m => item.Opinion)
        </td>
        <td>
            @Html.DisplayFor(m => item.ContactDate)
        </td>

    </tr>

        }
    </table>
</div>


